@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100&family=Ubuntu&display=swap');
/* font-family: 'Overpass', sans-serif;
   font-family: 'Ubuntu', sans-serif; */

:root {
    /* Primary */
    --light-red-cta-text: hsl(356, 100%, 66%);
    --very-light-red-cta-hover-background: hsl(355, 100%, 74%);
    --very-dark-blue-heading: hsl(208, 49%, 24%);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --grayish-blue-footer-text: hsl(240, 2%, 79%);
    --very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
    /* Gradient -> */
    /* Background gradient-Intro/CTA mobile nav */
    --very-light-red: hsl(13, 100%, 72%);
    --light-red: hsl(353, 100%, 62%);
    /* Background-gradient-body */
    --very-dark-gray-blue: hsl(237, 17%, 21%);
    --very-dark-desaturated-blue: hsl(237, 23%, 32%);
    /* fonts */
    --overpass: 'Overpass', sans-serif;
    --ubuntu: 'Ubuntu', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background-color: black; */
    background-color: #eee;
    /* z-index: 5; */
}

.intro {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-bottom-left-radius: 70px;
}

.intro::after {
    content: '';
    position: absolute;
    top: 16%;
    width: 100vw;
    height: 100%;
    right: 10%;
    transform: translateX(-50%);
    transform: scale(2);
    background-image: url("images/bg-pattern-intro-mobile.svg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(169deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}

.logo-and-hamburger {
    padding-top: 20px;
    margin: 20px auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    position: sticky;
}

.logo-and-hamburger-fixed {
    padding: 20px 5% 20px 5%;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    top: 0;
    background: linear-gradient(169deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    z-index: 20;
}

.hamburger {
    align-self: flex-start;
    margin-top: 10px;
    cursor: pointer;
}


.close {
    display: none;
}

nav {
    background-color: var(--white);
    width: 90%;
    margin: 110px auto;
    padding: 30px;
    z-index: 5;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
    /* overflow: visible; */
    overflow-y: scroll;
    position: fixed;
    left: 100%;
    font-family: var(--ubuntu);
    transition: .4s;
    z-index: 10;
}

.display-nav {
    left: 5%;
}

nav p {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--very-dark-blue-heading);
}

.product,
.company,
.connect {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.connect p:hover,
.product p:hover,
.company p:hover {
    color: var(--very-dark-grayish-blue-body-copy);
}

.product img,
.company img,
.connect img {
    margin-left: 10px;
    align-self: center;
    transition: .4s;
}

.display-arrow {
    transform: rotate(540deg);
}

.company-items,
.product-items,
.connect-items {
    width: 100%;
    background-color: #eee;
    border-radius: 7px;
    margin-top: 20px;
    display: none;
    padding: 0 20px 20px 20px;
}

.display-items {
    display: block;
}

.company-items p,
.product-items p,
.connect-items p {
    padding-top: 25px;
    font-size: .9rem;
    color: var(--very-dark-grayish-blue-body-copy);
}

.login-and-signup {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.signup {
    margin: 10px auto;
    background: linear-gradient(169deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    padding: 20px;
    width: 190px;
    border-radius: 30px;
}

.signup p {
    color: var(--white);
}

.intro-info {
    position: sticky;
    z-index: 5;
    width: 80%;
    margin: 9rem auto;
    color: var(--white);
    font-family: var(--ubuntu);
    text-align: center;
}

.intro-info h2 {
    font-size: 1.8rem;
    letter-spacing: 1px;
    line-height: 1.6;
}

.intro-info h2+p {
    margin-top: 1rem;
    line-height: 1.4;
    opacity: .7;
}

.get-started {
    width: 250px;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.start-btn {
    padding: .8em;
    background-color: var(--white);
    color: var(--light-red);
    border-radius: 40px;
}

.info-btn {
    padding: .8em;
    color: var(--white);
    border: 2px solid var(--white);
    border-radius: 40px;
}

.editor-and-content-management {
    width: 90%;
    margin: 4rem auto;
    text-align: center;
}

.editor-and-content-management p {
    color: var(--very-dark-grayish-blue-body-copy);
    line-height: 1.6;
    font-size: 1.1rem;
    margin-top: 1.3rem;
    font-family: var(--overpass);
    font-weight: 700;
}

.editor-and-content-management h2 {
    font-family: var(--ubuntu);
    color: var(--very-dark-blue-heading);
    font-size: 1.7rem;
}

.editor-and-content-management-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editor-img {
    width: 100%;
    height: 350px;
    background: url('images/illustration-editor-mobile.svg') center/cover no-repeat;
}

.editor-and-content-management-info {
    margin-top: 2rem;
}

.content-management {
    margin-top: 2rem;
}

.infrastructure {
    margin-top: 12rem;
    padding-bottom: 2rem;
    width: 100vw;
    background-color: var(--very-dark-gray-blue);
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    position: relative;
}

.infrastructure::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 260px;
    background: url('images/bg-pattern-circles.svg') center/cover no-repeat;
    transform: rotate(180deg);
    overflow: hidden;
}

.infrastructure-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    transform: translateY(-120px);
}

.phone-img {
    width: 100%;
    height: 350px;
    background: url('images/illustration-phones.svg') center/cover no-repeat;
    z-index: 16 !important;
}

.infrastructure-txt {
    margin-top: 2rem;
    color: var(--white) !important;
    text-align: center;
    z-index: 6;
}

.infrastructure-txt h2 {
    font-size: 1.9rem;
    letter-spacing: 1.5px;
    font-family: var(--ubuntu);
}

.infrastructure-txt p {
    margin-top: 2rem;
    line-height: 1.9;
    opacity: .8;
    font-family: var(--overpass);
    font-weight: 700;
}

.open-source {
    width: 90%;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
}

.laptop-img {
    width: 100%;
    height: 250px;
    background: url('images/illustration-laptop-mobile.svg') center/cover no-repeat;
}

.open-source-info {
    text-align: center;
}

.open-source-info h2 {
    font-family: var(--ubuntu);
    margin-top: 2rem;
    font-size: 1.7rem;
    color: var(--very-dark-blue-heading);
}

.open-source-info p {
    color: var(--very-dark-grayish-blue-body-copy);
    line-height: 1.7;
    margin-top: 1.6rem;
    font-family: var(--overpass);
    font-weight: 700;
}

footer {
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2.6rem;
    background-color: var(--very-dark-black-blue-footer-background);
    border-top-right-radius: 70px;
    display: flex;
    flex-direction: column;
    color: var(--white);
    text-align: center;
    font-family: var(--ubuntu);
}

.footer-product {
    margin-top: 2rem;
}

footer h2 {
    font-size: 1.2rem;
}

footer p {
    opacity: .7;
    line-height: 1.8;
}

footer div {
    margin-top: 30px;
}

footer h2+p {
    margin-top: 25px;
}


@media screen and (min-width: 1024px) {

    html,
    body {
        overflow-x: hidden;
    }

    .intro::after {
        top: -633px;
        left: 7%;
        height: 1000px;
        transform: scale(1.6);
        background-image: url("images/bg-pattern-intro-desktop.svg");
    }

    .hamburger {
        display: none;
    }

    .logo {
        align-self: center;
    }

    .logo-and-hamburger-fixed {
        padding-top: 25px;
        padding-bottom: 25px;
        height: 120px;
    }

    nav {
        overflow: visible;
        transition: 0s;
        position: fixed;
        left: 5%;
        background: none;
        margin: 20px auto;
        padding: 0;
        box-shadow: none;
        z-index: 21;
        height: auto;
    }

    .nav-items {
        display: flex;
        justify-content: space-between;
    }

    nav p {
        text-align: center;
        font-size: 1.3rem;
        font-weight: 600;
        letter-spacing: 1px;
        color: var(--white);
    }

    .links {
        display: flex;
        margin-left: 140px;
    }

    .product,
    .company,
    .connect {
        display: flex;
        justify-content: center;
        align-self: center;
        margin-top: 0;
        margin-left: 20px;
        cursor: pointer;
    }

    .connect p:hover,
    .company p:hover,
    .product p:hover {
        color: var(--white);
        text-decoration: underline;
    }

    .product img,
    .company img,
    .connect img {
        margin-left: 10px;
        align-self: center;
        filter: brightness(0) invert(1);
        transition: .4s;
    }

    .connect-items,
    .company-items,
    .product-items {
        width: 100%;
        background-color: var(--white);
        border-radius: 7px;
        margin-top: 20px;
        width: 160px;
        display: none;
        padding: 0 20px 20px 20px;
        position: fixed;
        top: 70px;
    }

    .connect-items {
        left: 540px;
    }

    .company-items {
        left: 360px;
    }

    .product-items {
        left: 160px;
    }

    .connect-items p,
    .company-items p,
    .product-items p {
        text-align: left;
    }

    .display-items {
        display: block;
    }

    .connect-items p {
        padding-top: 25px;
        font-size: .9rem;
        color: var(--very-dark-grayish-blue-body-copy);
    }

    .connect-items p:hover {
        color: var(--very-dark-blue-heading);
    }

    .login-and-signup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
        padding-top: 0;
        border: none;
    }

    .login {
        align-self: center;
        margin-right: 10px;
        cursor: pointer;
    }

    .signup {
        margin: 10px auto;
        background: var(--white);
        height: 60px;
        align-self: center;
        cursor: pointer;
        /* color: red; */
    }

    .signup:hover {
        background: var(--very-light-red-cta-hover-background);
        /* opacity: .2; */
        color: var(--white);
    }

    .signup p {
        color: var(--light-red-cta-text);
    }

    .signup p:hover {
        color: var(--white);
    }

    .signupHover {
        color: var(--white) !important;
    }

    .intro-info h2 {
        font-size: 2.5rem;
    }

    .get-started {
        width: 330px;
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;
        font-weight: 700;
    }

    .start-btn {
        width: 150px;
    }

    .info-btn {
        width: 150px;
    }

    .editor-and-content-management {
        margin-top: 6rem;
    }

    .editor-and-content-management-container {
        flex-direction: row-reverse;
        width: 100vw;
    }

    .editor-img {
        z-index: 3;
        width: 45%;
        height: 650px;
        transform: translateY(-100px);
    }

    .editor-and-content-management-info {
        margin-right: 5%;
        width: 48%;
        text-align: left;
    }

    .infrastructure {
        padding-top: 2rem;
        margin-top: -2rem;
        height: 400px;
    }

    .infrastructure::before {
        width: 50%;
        background-position: right;
    }

    .phone-img {
        height: 670px;
        min-width: 550px;
        /* width: 70%; */
    }

    .infrastructure-info {
        flex-direction: row;
        transform: translateY(0);
        align-items: center;
        margin-top: -6rem;
        margin-left: 2rem;
    }

    .infrastructure-txt{
        text-align: left;
        margin-top: -6rem;
        margin-left: 3rem;
        max-width: 500px;
    }

    .open-source{
        width: 100vw;
        margin-top: 14rem;
        flex-direction: row;
        padding-right: 4rem;
    }

    .laptop-img{
        height: 620px;
        background: url('images/illustration-laptop-desktop.svg') right/cover no-repeat;
    }

    .open-source-info{
        text-align: left;
        width: 800px;
        margin-top: 3rem;
    }

}